/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img.bg {
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-lc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
:root{
  --HelveticaNeue: HelveticaNeue, sans-serif;
  --HelveticaNeueMedium:HelveticaNeueMedium, sans-serif;
}
@font-face {
  font-family:HelveticaNeue ;
  src: url('../font/HelveticaNeue.otf');
}

@font-face {
  font-family: HelveticaNeueMedium;
  src: url('../font/HelveticaNeueMedium.otf');
}
body{
  color: #fff;
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
}

.extension{
  width: 100%; max-width: 420px; margin: 0 auto;
  border-radius: 32px;
  background: #0A0B0D;
  position: relative;
  overflow: hidden;
}
.extension .header{padding: 0 20px; align-items: center; border-bottom: 1px solid #505558;}
.extension .header.lg{border-bottom: none; padding: 20px 24px;}
.extension .header.lg .share{padding: 3px 18px; border: 1px solid #505558; border-radius: 9999px;}

.share{
  margin-left: auto;
  padding: 14px 0 14px 20px; border-left: 1px solid #505558;
}
.share .x{
  display: block; width: 12px; height: 12px;
  background: url("../img/x.svg") no-repeat;
  font-size: 0;
}
.share h4{margin-right: 8px; font: 12px/20px var(--HelveticaNeue);}
.main{
  width: 100%; height: 546px; padding-top: 32px;
  background: url("../img/bg.png") no-repeat 0 0/contain;
  position: relative;
}
.main .content{
  width: 420px; height: 420px; max-width: 100%;
  display: flex; flex-direction: column; justify-content: center;
  text-align: center;
}
.main .ip{letter-spacing: -0.032px; font-size: 16px; color: #505558;}
.main .ip h5{margin-bottom: 8px; font-size: 16px; font-weight: 400; line-height: 24px;}
.main .ip span{}
.main .time{
  margin: 8px 0 25px;
  font-weight: 500;
  font-size: 78px;
  line-height: 94px;
}
.main .bottom{
  width: 100%; justify-content: space-between;
  border-top: 1px solid #505558;
  position: absolute; bottom: 0;
}
.location{width: 64%; padding: 11px 22px; position: relative; cursor: pointer;}
.location::after{
  content: "";
  width: 24px; height: 24px;
  background: url("../img/arrow-right.svg") no-repeat;
  position: absolute; right: 0; top: 50%; transform: translateY(-50%);
}
.location img{width: 32px; height: 32px; border-radius: 50%;}
.location span{padding-left: 12px; font-size: 16px; line-height: 24px;}
.version{padding: 16px 28px; border-left: 1px solid #505558;}

.select-location{
  width: calc(100% - 28px);
  height: calc(100% - 28px);
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  border: 1px solid #505558;
  background: #0A0B0D;
  position: absolute; left: 14px; top: 14px; z-index: -1; opacity: 0; visibility: hidden; transition: .3s;
}
.select-location.show{opacity: 1; z-index: 9; visibility: visible;}
.select-location .top{padding: 32px 20px 20px; justify-content: space-between; position: relative;}
.select-location .close{background: none; padding: 0; border: none; color: #fff; font-size: 12px; cursor: pointer;}
.select-location h5{margin: 0; font-weight: 500; font-size: 18px; line-height: 28px; letter-spacing: -0.216px;}
.form-search{padding: 0 20px; margin-bottom: 14px;}
.form-search .box-input{
  padding: 9px 14px;
  border-radius: 9999px;
  border: 1px solid #505558;
}
.form-search input{
  width: 100%;
  background: none;
  border: none;
  background: url("../img/icon-search.svg") no-repeat right center;
  font-size: 16px; line-height: 24px;
  color: #fff;
}
.form-search input:focus{outline: none;}
.form-search input::placeholder{color: #505558;}
.location-list{flex: 1 1 auto; overflow: auto;}
.location-list .hide{display: none;}
.location-list::-webkit-scrollbar{width: 4px;}
.location-list::-webkit-scrollbar-thumb{background: #888;}
.location-list::-webkit-scrollbar-track{background: #ccc;}
.location-list li{
  padding: 19px; display: flex; align-items: center;
  position: relative;
  cursor: pointer;
}
.location-list li::after{
  content: "";
  width: 24px; height: 24px;
  background: url("../img/arrow-right.svg") no-repeat right center;
  position: absolute;
  right: 20px; top: 50%; transform: translateY(-50%);
}
.location-list li:hover{background: #050506;}
.location-list > *+*{border-top: 1px solid #505558;}
.location-list .icon{width: 32px; height: 32px;}
.location-list .pl-2{padding-left: 12px;}
.location-list .name{font-size: 16px; line-height: 24px; letter-spacing: -0.032px;}


.switch {
  position: relative;
  display: block; margin: 0 auto;
  width: 63px;
  height: 32px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #505558;
  -webkit-transition: .4s;
  transition: .4s;
}
.on,.off{
  font-weight: 300; font-size: 12px; letter-spacing: -0.144px; text-transform: uppercase; color: #1e1e1e; line-height: 32px;
  position: absolute; top: 0; transition: .3s;
}
.off{right: 9px;}
.on{opacity: 0; left: 12px;}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #80EC40;
}
input:checked ~ .off{opacity: 0;}
input:checked ~ .on{opacity: 1;}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 32px;
}
.slider.round:before {
  border-radius: 50%;
}
.modal-extension{
  width: 100%; height: 100%;
  background: rgba(10, 11, 13, 0.80);
  position: absolute; top: 0; left: 0; border-radius: 32px;
  display: none;
}
.modal-extension.show{display: block;}

.license-key{
  min-height: 514px; padding: 56px 24px 0;
  background: url("../img/bg-license.png") no-repeat bottom center/cover;
}
.license-key form{position: relative;}
.license-key .box-space{width: 100%; position: absolute; top: 4px;}
.license-key .box-space span{position: absolute;}
.license-key .box-space span:nth-child(1){left: 20%;}
.license-key .box-space span:nth-child(2){left: 49%;}
.license-key .box-space span:nth-child(3){left: 78%;}
.license-key .head{margin-bottom: 24px;}
.license-key h4{margin-bottom: 14px; color: #fff; font-weight: 500; font-size: 18px; line-height: 28px; letter-spacing: -0.216px;}
.license-key p{
  max-width: 292px;
  font-weight: 300;
  color: #6d6e70;
  line-height: 20px;
  letter-spacing: -0.168px;
}
.license-key .form-group{
  display: flex; justify-content: space-between; align-items: center;
}
.license-key input{
  max-width: 52px;
  padding: 4px 0;
  border: none; border-bottom: 1px solid #888D9A;
  background: none;
  color: #fff;
  text-align: center;
  letter-spacing: 3.92px;
}
.license-key input::placeholder{color: #888D9A;}
.license-key input:focus{outline: none;}
.license-key .space{color: #888D9A; font-size: 12px; line-height: 20px;}
.license-key .btn-submit{
  display: block; width: 132px; height: 40px;
  margin: 52px 0 0 auto;
  background: #80EC40;
  border-radius: 7px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.168px;
}
.license-key .btn-submit:hover{background: #68e51f;}

.tab{border-top: 1px solid #505558; border-bottom: 1px solid #505558; position: relative; z-index: 2;}
.tab li{width: 50%;}
.tab > *+*{border-left: 1px solid #505558;}
.tab a{display: block; padding: 10px; color: #fff; text-align: center; font-weight: 500; line-height: 20px; letter-spacing: -0.168px;}
.tab .active{background: #80EC40; color: #0A0B0D;}
.tab-content{
  padding: 20px; position: relative; z-index: 2;
}
.tab-content .box-btn{
  display: flex; padding-top: 20px; margin-top: 32px;
  justify-content: space-around;
  position: relative;
}
.tab-content .box-btn::before{
  content: "";
  width: calc(100% + 40px);
  height: 1px;
  background: #505558;
  position: absolute; left: -20px; top: 0;
}
.tab-content .box-btn button{padding: 10px 20px; border-radius: 9999px; font-weight: 500; color: #fff; font-size: 16px; line-height: 24px;}
.tab-content .box-btn .icon{margin-left: 10px;}
.btn-reject{
  background: #FF3F3F;
  letter-spacing: -0.032px;
}
.btn-reject:hover{background: #e52e2e;}
.btn-continue{border: 1px solid #505558;}
.btn-continue:hover{background: #505558;}

.tab-content h2{font-weight: 500; font-size: 14px; line-height: 20px; letter-spacing: -0.168px;}
.tab-content .btn-more{
  width: 24px; height: 24px;
  margin-left: auto;
  background: url("../img/more-1.svg") no-repeat;
}
.tab-content .btn-seemore{
  width: 106px; height: 28px;
  margin-left: auto;
  border-radius: 9999px;
  border: 1px solid #505558;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
}
.tab-content .btn-seemore:hover{background: #505558;}
.transaction::after{
  content: "";
  width: 219px; height: 414px;
  background: url("../img/ellipse.svg") no-repeat 0 0/contain;
  position: absolute;
  right: 0; top: 48px;
}
.transaction .info > *+*{margin-left: 80px;}
.transaction .info h5{
  margin: 0 0 6px;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.02px;
  color: #505558;
}
.transaction .info span{
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.216px;
}
.transaction .info img{margin-right: 6px;}
.transaction .btn-copy{
  width: 24px; height: 24px;
  background: #000;
  display: flex; align-items: center; justify-content: center;
  margin-left: 12px;
  border-radius: 50%;
  border: thin solid #505558;
}
.transaction .icon-copy{width: 12px; height: 12px; background: url("../img/copy.svg") no-repeat;}

.transaction .box-link{
  padding: 20px 0; position: relative;
}
.transaction .box-link::after{
  content: "";
  width: calc(100% + 40px); height: 1px; background: #505558;
  position: absolute; left: -20px; bottom: 0;
}
.transaction .box-link .safe{padding-right: 22px; background: url("../img/on.svg") no-repeat right center; color: #fff;}

.coin-list{padding: 15px 0;}
.coin-list .item{padding: 8px 0; justify-content: space-between;}
.coin .coin__img{width: 46px;}
.coin .coin__info{padding-left: 12px;}
.coin p{margin-bottom: 2px; font-weight: 500; line-height: 20px; letter-spacing: -0.168px;}
.coin span{font-size: 12px; line-height: 20px; letter-spacing: -0.024px; color: #505558;}
.change{text-align: right;}
.change.down{color: #FF3F3F;}
.change.up{color: #80EC40;}
.change span{display: block;}
.change span:nth-child(1){margin-bottom: 2px; font-weight: 500; line-height: 20px; letter-spacing: -0.168px;}
.change span:nth-child(2){font-size: 12px; line-height: 20px; letter-spacing: -0.024px;}

.coin-group{margin-left: 6px;}
.coin-group img{width: 28px; border-radius: 50%; margin-left: -6px; position: relative;}
.coin-group img:nth-child(1){z-index: 3;}
.coin-group img:nth-child(2){z-index: 2;}

button{padding: 0; cursor: pointer; background: none; border: none; transition: .25s;}
a{text-decoration: none; transition: .25s;}
.mb-3{margin-bottom: 16px;}
.icon-arrow-down{
  width: 15px; height: 14px;
  background: url("../img/arrow-down.svg") no-repeat;
  margin-left: 4px;
}
.icon-close{
  width: 20px; height: 20px;
  background: url("../img/close.svg") no-repeat;
}
.icon-arrow-right{
  width: 20px; height: 20px;
  background: url("../img/arrow-right.svg") no-repeat;
}

@media (max-width: 420px) {
  .location{width: 60%;}
  .main .content{height: 376px;}
}
@media (max-width: 360px) {
  .main .content{height: 306px;}
  .version{padding: 16px 18px;}
  .license-key .box-space span:nth-child(1){left: 22%;}
  .license-key .box-space span:nth-child(2){left: 49%;}
  .license-key .box-space span:nth-child(3){left: 76%;}
}